@import url("./utilities.css");
@import url("./cursor.css");

/* :root {
    --fz-h1: 10vw;
    --fz-h2: 5vw;
    --fz-h3: 3.25vw;
    --fz-h4: 2vw;
    --fz-big-body: 22px;
    --fz-body: 18px;
    --fz-small-body: 16px;

    --background: #111;
    --background-light: #222;
    --text-color: #fff;
    --text-color-light: #ddd;
    --text-color-lighter: #aaa;
    --text-color-lightest: #444;
    --primary: #0AEBAF;
    --accent2: #ee8d00;
} */

.facts {
    height: 70vh;
    display: flex;
    text-align: left;
    align-items: start;
    justify-content: end;
    padding: var(--fz-h3);
    margin-top: 70px;
    background-position: center;
    flex-direction: column;
    gap: var(--fz-small-body);
    position: relative;
    /* background-blend-mode: multiply; */
    /* background-image: linear-gradient(#0AEBAF3d, #11111100); */
    background-image: url("../Assets/Images/About Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}

/* .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    background-image: url("https://as1.ftcdn.net/v2/jpg/05/49/29/70/1000_F_549297047_fxiIUIxD1AM6Iaw3GjQQ9ZBRrHJQm21q.jpg");
    mix-blend-mode: multiply;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
} */

.gaurav-wrapper{
    display: flex;
    flex-direction: column;
    gap: var(--fz-body);
}

.gaurav-inner-wrapper{
    display: flex;
    justify-content: space-between;
    padding-left: 4px;
    align-items: start;
}

.seeking{
    color: var(--text-color-light);
    border-radius: 5000px;
    border: 1px solid var(--text-color-light);
    padding: calc(var(--fz-small-body)/2) var(--fz-small-body) ;
    font-size: var(--fz-small-body);
}


.facts h1 {
    color: var(--text-color);
    font-size: calc(var(--fz-h1));
    font-family: "General Sans", sans-serif;
    line-height: 90%;
    z-index: 10;
}

.facts .facts-inner {
    color: var(--text-color-lighter);
    text-shadow: none;
    font-weight: 300;
    font-size: calc(var(--fz-big-body));
    margin-left: calc(var(--fz-small-body) / 2);
}

.about-text {
    color: var(--text-color-lighter);
    font-size: var(--fz-h2);
    font-weight: 100;
    line-height: 115%;
    padding: var(--fz-h3);
}

.about-text:hover{
    color: var(--text-color-lightest);
}

.about-text:hover .highlight {
    font-weight: 100;
    color: var(--primary);
    cursor: pointer;
}

.about-text:hover .GBDA {
    font-weight: 100;
    color: var(--text-color);
}

.apart {
    padding: var(--fz-h3);
    background-color: var(--text-color);
    margin-top: calc(var(--fz-h1) * 2);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.apart::before {
    content: "";
    width: 150%;
    height: calc(var(--fz-h1) * 10);
    background-color: var(--text-color);
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -15%);
    border-radius: 50%;
    z-index: -1;
    clip-path: polygon(15% 0, 85% 0, 85% 50%, 15% 50%);
}

.apart h1 {
    line-height: 100%;
    grid-column: 1/5;
    text-align: center;
    font-size: calc(var(--fz-h2) * 1);
}

.apart-text {
    /* column-count: 3;
    text-align: justify;
    column-gap: var(--fz-h4); */
    font-size: var(--fz-big-body);
    color: var(--background);
    grid-column: 1/4;
}

.why-pm{
    padding: var(--fz-h3);
}

.endorsements{
    padding: var(--fz-h3);
}

.three-grid{
   gap: 32px; 
}

.card{
    color: var(--text-color);
    border-radius: 8px;
    padding: var(--fz-big-body);
    border: 1px solid var(--text-color-lightest);
    /* background-color: var(--background-light); */
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content{
    font-size: var(--fz-body);
    margin-bottom: var(--fz-h3);
}
.card a{
    color: inherit;
}

.card a:hover{
    color: var(--primary)
}

.card a::after{
    content: " [↗]";
}

.card .person-details h3{
    /* font-weight: normal; */
}

.card .person-details p{
    font-size: var(--fz-small-body);
    color: var(--text-color-lighter);
}

.card .person{
    display: flex;
    gap: var(--fz-small-body);
    align-items: center;
}

.card .person img{
    height: calc(2* var(--fz-big-body));
}

.card .person-details p{
    font-weight: normal;
}

.why-pm h1, .gallery h1, .endorsements h1, .side-quests h1{
    color: var(--text-color);
    font-size: var(--fz-h2);
    margin-bottom: var(--fz-small-body);
}

.gallery-heading{
    
    padding: var(--fz-small-body) var(--fz-h3);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.play span{
    font-size: var(--fz-h3) !important;
    color: var(--text-color-lighter);
}

.play{
    background: none;
    border: none;
}

.why-pm p{
    width: 75%;
}

.marquee-content {
    display: flex;
    animation: scrolling 50s linear infinite;
    gap: 32px;
}

.opposite-direction{
    animation: opp-scrolling 50s linear infinite;
    margin-top: 32px;
}

.paused {
    animation-play-state: paused !important;
}

.marquee-item {
    width: fit-content;
}

.marquee-item img {
    display: block;
    /* width: 100%; */
    height: 250px;
    width: fit-content;
    /*   padding: 0 20px; */
    border-radius: 4px;
}

p.caption{
    margin-top: calc(var(--fz-small-body) / 2);
    font-size: var(--fz-small-body);
    text-align: center;
    color: var(--text-color-lighter);
}

.side-quests{
    padding: var(--fz-h3);
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translatex(-144vw);
    }
}

@keyframes opp-scrolling {
    0% {
        transform: translateX(-144vw);
    }

    100% {
        transform: translatex(0vw);
    }
}

@media (max-width: 1000px) {
    .facts-inner{
        display: none;
    }
}

@media only screen and (max-width: 767px) {

    .about-text {
        color: var(--text-color-light) !important;
        font-size: var(--fz-h3);
        line-height: 125%;
        font-family: 'General Sans', sans-serif;
        font-weight: 400;
    }

    .about-text .highlight {
        color: var(--text-color-light) !important;
        font-family: 'General Sans', sans-serif;
        font-weight: 400;
    }

    .why-pm p{
        width: 100%;
        font-size: var(--fz-body);
    }

    .facts h1{
        line-height: 115%;
    }

    .marquee-item img{
        height: 180px;
    }
}