.blogs{
    padding-top: 0;
    padding-bottom: var(--fz-h3);
}

.blogs-qualifier{
    width: 66%;
    color: var(--text-color-lighter);
    display: none;

}

/* .blogs-cards .card{
    position: relative;
}

.blogs-cards .card{
    padding: 0;
    border: none;
    height: 350px;
}

.blogs-cards .card.work img{
    object-fit: cover;
}

.blogs-cards .card .card-content{
    position: absolute;
    left: 0;
    top: -4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: var(--fz-small-body) var(--fz-big-body);
    background: linear-gradient(0deg, #111111f5, #11111166);
} */

.three-grid ul.tags{
    margin-bottom: 8px;
    margin-top: 8px;
}

.blogs-cards .card .card-content .tag{
    background-color: transparent;
    /* border: 1px solid var(--text-color-lighter); */
}

header{
    margin: var(--fz-h4) calc(2.5 * var(--fz-h1));
    margin-top: 150px;
    overflow: hidden;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: var(--fz-small-body);
}

h1{
    font-size: var(--fz-h3);
}

header > img{
    height: 400px;
    border-radius: calc(var(--fz-small-body) * 0.5);
    margin-bottom: var(--fz-small-body);
}

main#overview{
    /* padding: var(--fz-small-body) calc(2.5 * var(--fz-h1)) var(--fz-h2) calc(2.5*var(--fz-h1)); */
}

main#overview>*{
    padding: 0;
    /* margin-inline: var(--fz-h1); */
}

main#overview>img{
    margin-inline: 0;
}

main > h2{
    font-size: var(--fz-h4);
}

main > h3{
    font-size: var(--fz-big-body);
}


@media (max-width: 900px) {
    main > h2{
        font-size: var(--fz-h2);
    }
}