header{
    display: flex;
    background-color: #D22947;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.header-content{
    height: 40%;
    object-fit: contain;
    width: fit-content;
}

.header-image{
    height: 100%;
    object-fit: contain;
    width: fit-content;
}

@media (max-width: 700px) {
    .header-image{
        display: none;
    }
    .header-content{
        height: 50%;
    }
}

header{
    height: 400px;
}

@media (max-width:700px) {
    header{
        height: 250px;
    }
}